.main{
    margin: 0 auto;
}
.content{
    padding-left: 10%;
    padding-right: 10%;
}
.header-block{
    color: orange;
    text-align: center;
    font-family: Arial;
}
.subcategories-block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.subcategory-block{
    width: 300px;
    height: 300px;
    margin: 10px 0;
    text-align: center;
    border-radius: 10px;
    border: solid black 1px;
}
.subcategory-block a{
    color: black;
    font-size: larger;
    font-family: Arial;
    text-decoration: none;
}
.subcategory-block .subcategory-block-image-container{
    margin: 0;
    width: 300px;
    height: 205px;
    align-content: center;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.subcategory-block .subcategory-block-title{
    margin: 0;
    width: 300px;
    height: 95px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}