body{
    margin: 0 auto;
}
.main{
    margin: 0 auto;
}
.content{
    min-height: 1000px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
}
.header-block{
    color: orange;
    text-align: center;
    font-family: Arial;
}
.sections-block{
    font-size: larger;
    font-family: Arial;
}
.sections-block .sections-block-title-section{
    font-weight: bold;
}
.sections-block ul{
    margin: 0;
    padding: 0;
    margin: 25px 0;
    list-style: none;
}
.sections-block ul li{
    margin: 15px 0;
}
.sections-block ul li span a{
    color: blueviolet;
    text-decoration: none;
}