.product-block-information{
    width: 100%;
    height: 300px;
    display: flex;
    margin: 10px 0;
    max-width: 100%;
    font-weight: bold;
    font-size: larger;
    font-family: Arial;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    align-content: center;
    align-items: center;
}
.product-block-information .product-block-information-image-block,
.product-block-information .product-block-information-slider-block{
    width: 40%;
    height: 100%;
    max-width: 40%;
    border: solid black 1px;
}
.product-block-information .product-block-information-image-block .product-block-information-image-block-container,
.product-block-information .product-block-information-slider-block .product-block-information-slider-block-container{
    width: 100%;
    height: 100%;
    display: flex;
}
.product-block-information .product-block-information-image-block .product-block-information-image-block-container img,
.product-block-information .product-block-information-slider-block .product-block-information-slider-block-container img{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.product-block-information .product-block-information-image-block .product-block-information-image-block-container img:hover,
.product-block-information .product-block-information-slider-block .product-block-information-slider-block-container img:hover{
    cursor: pointer;
}
.product-block-information .product-block-information-block{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-block-information-block-row{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}
.product-block-information-block-column{
    width: 100%;
    height: 50%;
    display: flex;
}
.product-block-information-block-column-manufacturer{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border: solid black 1px;
    border-radius: 10px;
}
.product-block-information-block-column-manufacturer .product-block-information-block-column-manufacturer-image-container{
    width: 100%;
    height: 100%;
}
.product-block-information-block-column-manufacturer .product-block-information-block-column-manufacturer-image-container a{
    width: 100%;
    height: 100%;
    display: flex;
}
.product-block-information-block-column-manufacturer .product-block-information-block-column-manufacturer-image-container img{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.product-block-information-block-column span{
    width: 100%;
    margin: auto;
    max-height: 100%;
}
#product-block-information-block-column-row-column-evaluation-block span{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    font-size: medium;
    font-weight: bold;
    font-family: Arial;
}
#product-block-information-block-column-row-column-evaluation-block span .far{
    z-index: 1;
    color: black;
    margin: auto;
    margin-right: 5px;
    position: relative;
}
#product-block-information-block-column-row-column-evaluation-block span .fas{
    width: 0;
    z-index: 2;
    color: orange;
    display: block;
    overflow: hidden;
    position: absolute;
    font-size: inherit;
    top: 0; left: 0; bottom: 0;
}
#product-block-information-block-column-row-column-statistical-information-block{
    width: 30%;
    height: 100%;
    display: flex;
    font-size: medium;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
    flex-direction: row;
    align-content: center;
    vertical-align: middle;
    justify-content: center;
}
#product-block-information-block-column-row-column-statistical-information-block .product-block-information-block-column-row-column-statistical-information-block-column{
    width: 50%;
    height: 100%;
    display: flex;
}
#product-block-information-block-column-row-column-statistical-information-block .product-block-information-block-column-row-column-statistical-information-block-column i{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
#product-block-information-block-column-row-column-statistical-information-block .product-block-information-block-column-row-column-statistical-information-block-column span{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    font-size: medium;
    font-weight: bold;
    font-family: Arial;
}
#product-block-information-block-column-row-column-statistical-information-block .product-block-information-block-column-row-column-statistical-information-block-column-row{
    height: 50%;
    display: flex;
}
#product-block-information-block-column-row-column-statistical-information-block .product-block-information-block-column-row-column-statistical-information-block-column-row i{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
#product-block-information-block-column-row-column-statistical-information-block .product-block-information-block-column-row-column-statistical-information-block-column-row span{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    font-size: medium;
    font-weight: bold;
    font-family: Arial;
}
#product-block-information-block-column{
    height: 100%;
    display: flex;
    flex-direction: column;
}
#product-block-information-block-column-button{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}
#product-block-information-block-column-button button{
    height: 50%;
    color: white;
    max-height: 100%;
    font-size: medium;
    font-weight: bold;
    font-family: Arial;
    border-radius: 10px;
    background-color: orange;
}
#product-block-information-block-column-button button:disabled{
    height: 50%;
    color: white;
    margin: auto;
    opacity: 0.5;
    max-height: 100%;
    font-size: medium;
    font-weight: bold;
    font-family: Arial;
    border-radius: 10px;
    background-color: orange;
}
.product-block-information-block-column-row{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-block-information-block-column-row-column{
    margin: auto;
    width: 100%;
    max-height: 100%;
}
.product-block-tabs{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-block-tabs .product-block-tab{
    width: 20%;
    color: white;
    height: 100%;
    display: flex;
    border: solid black 1px;
    background-color: orange;
}
.product-block-tabs .product-block-tab:hover{
    color: orange;
    cursor: pointer;
    background-color: white;
}
.product-block-tabs #product-block-tab-active{
    cursor: auto;
    color: orange;
    background-color: white;
}
.product-block-tabs .product-block-tab span{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    font-size: medium;
    font-weight: bold;
    font-family: Arial;
}
.product-block-tab-content{
    border-left: solid orange 1px;
    border-right: solid orange 1px;
    border-bottom: solid orange 1px;
}
