.form-block-information{
    width: 100%;
    height: 200px;
    display: flex;
    margin: 10px 0;
    max-width: 100%;
    font-weight: bold;
    font-size: larger;
    font-family: Arial;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    align-content: center;
    align-items: center;
}
.form-block-information .form-block-image-block{
    width: 30%;
    height: 100%;
}
.form-block-information .form-block-image-block .form-block-image-block-container {
    width: 100%;
    height: 100%;
}
.form-block-information .form-block-image-block .form-block-image-block-container img{
    margin: auto;
}
.form-block-information .form-block-information-block{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.form-block-information-block-row{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-block-information-block-column{
    margin: auto;
    width: 100%;
    max-height: 100%;
}
#form-block-information-block-column{
    height: 100%;
    display: flex;
    flex-direction: column;
}
#form-block-information-block-column-button{
    height: 100%;
    display: flex;
    justify-content: center;
}
#form-block-information-block-column-button button{
    height: 50%;
    margin: auto;
    color: white;
    max-height: 100%;
    font-size: medium;
    font-weight: bold;
    font-family: Arial;
    border-radius: 10px;
    background-color: orange;
}
#form-block-information-block-column-button button:disabled{
    height: 50%;
    color: white;
    margin: auto;
    opacity: 0.5;
    max-height: 100%;
    font-size: medium;
    font-weight: bold;
    font-family: Arial;
    border-radius: 10px;
    background-color: orange;
}
.form-block-information-block-column-row{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-block-information-block-column-row-column{
    margin: auto;
    width: 100%;
    max-height: 100%;
}