.footer{
    color: white;
    height: 490px;
    font-size: larger;
    font-family: Arial;
    background-color: #333333;
}
.footer .footer-content{
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
.footer-top{
    width: 100%;
    height: 90px;
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    max-height: 90px;
    flex-direction: row;
    vertical-align: middle;
    justify-content: center;
}
.footer-top .footer-top-logo{
    height: 90%;
    margin: auto;
    display: flex;
    max-height: 90%;
    flex-direction: row;
    vertical-align: middle;
}
.footer-top .footer-top-logo img{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    border: solid black 1px;
    background-color: white;
}
.footer .footer-content .footer-middle{
    width: 100%;
    height: 350px;
    max-width: 100%;
    max-height: 350px;
    border: solid white;
    border-width: 1px 0 1px 0;
}
.footer .footer-content .footer-middle .footer-middle-sections{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer .footer-content .footer-middle .footer-middle-sections .footer-middle-section{
    width: 20%;
    height: 100%;
    display: flex;
    max-height: 100%;
    vertical-align: middle;
}
.footer .footer-content .footer-middle .footer-middle-sections .footer-middle-section span{
    color: white;
    font-weight: bold;
}
.footer .footer-content .footer-middle .footer-middle-sections #footer-middle-section-links-block ul{
    margin: 0;
    padding: 0;
    margin: 10px 0;
    list-style: none;
}
.footer .footer-content .footer-middle .footer-middle-sections #footer-middle-section-links-block ul li:nth-child(2n +1){
    margin: 15px 0;
}
.footer .footer-content .footer-middle .footer-middle-sections #footer-middle-section-links-block a{
    color: white;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    text-decoration: none;
}
.footer .footer-content .footer-middle .footer-middle-sections #footer-middle-section-links-block a:hover{
    color: lime;
}
.footer .footer-content .footer-middle .footer-middle-sections #footer-middle-section-contacts{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.footer .footer-content .footer-middle .footer-middle-sections #footer-middle-section-contacts .footer-middle-section-contacts-links-block{
    width: 100%;
    display: flex;
    max-width: 100%;
    flex-direction: column;
}
.footer .footer-content .footer-middle .footer-middle-sections #footer-middle-section-contacts .footer-middle-section-contacts-links-block .footer-middle-section-contacts-links{
    width: 100%;
    height: 50px;
    display: flex;
    margin: 0 auto;
    margin: 10px 0;
    max-width: 100%;
    max-height: 50px;
    flex-direction: row;
    justify-content: flex-start;
}
.footer .footer-content .footer-middle .footer-middle-sections #footer-middle-section-contacts .footer-middle-section-contacts-links-block .footer-middle-section-contacts-links .footer-middle-section-contacts-link{
    height: 100%;
    display: flex;
    max-height: 100%;
    vertical-align: middle;
    border: solid black 1px;
}
.footer .footer-content .footer-middle .footer-middle-sections #footer-middle-section-contacts .footer-middle-section-contacts-links-block .footer-middle-section-contacts-links .footer-middle-section-contacts-link:hover{
    background-color: yellow;
}
.footer .footer-content .footer-middle .footer-middle-sections #footer-middle-section-contacts .footer-middle-section-contacts-links-block .footer-middle-section-contacts-links .footer-middle-section-contacts-link:nth-child(2n){
    margin: 0 10px;
}
.footer .footer-content .footer-middle .footer-middle-sections #footer-middle-section-contacts .footer-middle-section-contacts-links-block .footer-middle-section-contacts-links .footer-middle-section-contacts-link img{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.footer .footer-content .footer-middle .footer-middle-sections .footer-middle-section .footer-middle-section-contacts-mailing .footer-middle-section-contacts-mailing-form{
    width: 100%;
    height: 50px;
    display: flex;
    margin: 10px 0;
    flex-direction: row;
    justify-content: space-between;
}
.footer .footer-content .footer-middle .footer-middle-sections .footer-middle-section .footer-middle-section-contacts-mailing .footer-middle-section-contacts-mailing-form .footer-middle-section-contacts-mailing-form-input-container{
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    border-radius: 10px;
    border: solid black 1px;
}
.footer .footer-content .footer-middle .footer-middle-sections .footer-middle-section .footer-middle-section-contacts-mailing .footer-middle-section-contacts-mailing-form .footer-middle-section-contacts-mailing-form-input-container input{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: black;
    border: none;
    font-weight: bold;
    font-size: larger;
    font-family: Arial;
}
.footer .footer-content .footer-middle .footer-middle-sections .footer-middle-section .footer-middle-section-contacts-mailing .footer-middle-section-contacts-mailing-form .footer-middle-section-contacts-mailing-form-icon-button-container{
    height: 100%;
    display: flex;
    margin: 0 10px;
    max-height: 100%;
    vertical-align: middle;
}
.footer .footer-content .footer-middle .footer-middle-sections .footer-middle-section .footer-middle-section-contacts-mailing .footer-middle-section-contacts-mailing-form .footer-middle-section-contacts-mailing-form-icon-button-container span{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    font-weight: bold;
    font-size: larger;
    font-family: Arial;
}
.footer .footer-content .footer-middle .footer-middle-sections .footer-middle-section .footer-middle-section-contacts-mailing .footer-middle-section-contacts-mailing-form .footer-middle-section-contacts-mailing-form-icon-button-container span a{
    color: white;
    text-decoration: none;
}
.footer .footer-content .footer-middle .footer-middle-sections .footer-middle-section .footer-middle-section-contacts-mailing .footer-middle-section-contacts-mailing-form .footer-middle-section-contacts-mailing-form-icon-button-container span:hover > a{
    color: red;
}
.footer .footer-content .footer-middle .footer-middle-sections .footer-middle-section .footer-middle-section-contacts-data-block ul{
    margin: 0;
    padding: 0;
    margin: 10px 0;
    list-style: none;
}
.footer .footer-content .footer-middle .footer-middle-sections .footer-middle-section .footer-middle-section-contacts-data-block ul li:nth-child(2n + 1){
    margin: 15px 0;
}
.footer .footer-content .footer-bottom{
    height: 50px;
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    max-height: 50px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
}
.footer .footer-content .footer-bottom span{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}