footer{
    padding-left: 10%;
    padding-right: 10%;
    font-size: larger;
    font-family: Arial;
    background-color: #333333;
}
.footer-top{
    height: 90px;
    border: solid;
    border-color: white;
    border-width: 0 0 1px 0;
}
.footer-top-logo{
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    display: flex;
}
.footer-top-logo > img{
    margin: 10px 0;
    height: 70px;
    background-color: white;
    border: solid black 1px;
    border-radius: 10px;
}
.footer-middle-table{
    height: 300px;
    width: 100%;
    border: solid;
    border-color: white;
    border-width: 0 0 1px 0;
}
.footer-middle-table .footer-middle-table-tr-headers{
    height: 40px;
}
.footer-middle-table .footer-middle-table-tr-headers th{
    vertical-align: top;
    text-align: left;
    color: white;
}
.footer-middle-table .footer-middle-table-tr-content td{
    color: white;
    vertical-align: top;
}
.footer-middle-table .footer-middle-table-tr-content td ul,
.footer-middle-table .footer-middle-table-tr-content td li{
    padding: 0;
    margin: 5px 0;
    list-style: none;
}
.footer-middle-table .footer-middle-table-tr-content td li:hover{
    color: lime;
}
.footer-bottom{
    color: white;
    text-align: center;
}
.footer-middle-links-on-contacts-table{
    width: 300px;
    height: 60px;
}
.footer-middle-links-on-contacts-table .footer-middle-links-on-contacts-table-tr{
    height: 60px;
}
.footer-middle-links-on-contacts-table .footer-middle-links-on-contacts-table-tr .footer-middle-links-on-contacts-table-td{
    text-align: center;
}
.footer-middle-links-on-contacts-table .footer-middle-links-on-contacts-table-tr .footer-middle-links-on-contacts-table-td img{
    height: 50px;
    margin: 5px 10px 5px 0;
    border-radius: 10px;
    border: solid white 1px;
}
.footer-middle-links-on-contacts-table .footer-middle-links-on-contacts-table-tr .footer-middle-links-on-contacts-table-td #footer-middle-links-on-contacts-contact-image-youTube{
    margin-left: 0;
    margin-right: 10px;
}
.footer-middle-links-on-contacts-table .footer-middle-links-on-contacts-table-tr .footer-middle-links-on-contacts-table-td img:hover{
    background-color: lime;
}
.footer-middle-contacts-mailing .footer-middle-contacts-mailing-form{
    width: 100%;
    height: 60px;
    padding: 5px 0;
}
.footer-middle-contacts-mailing .footer-middle-contacts-mailing-form .footer-middle-contacts-mailing-email{
    width: 90%;
    height: 50px;
    text-align: left;
    font-size: larger;
    border-radius: 10px;
}
.footer-middle-contacts-mailing .footer-middle-contacts-mailing-form .footer-middle-contacts-mailing-icon:hover{
    color: lime;
}
.footer-middle-contacts-phone-number-and-time,
.footer-middle-contacts-shops{
    margin: 10px 0;
}
.footer-middle-contacts-shops:hover{
    color: lime;
}