header{
    top: 0;
    z-index: 9999;
    min-height: 2em;
    position: sticky;
    font-size: 16px;
    font-family: Arial;
}
.header-top{
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    max-height: 30px;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: row;
    background-color: orange;
    justify-content: space-between;
}
.header-top .header-top-location{
    height: 100%;
    display: flex;
    max-height: 100%;
    vertical-align: middle;
    flex-direction: inherit;
}
.header-top .header-top-location a{
    margin: auto;
    width: 100%;
}
.header-top .header-top-information{
    width: 50%;
    height: 100%;
    display: flex;
    max-width: 50%;
    max-height: 100%;
    vertical-align: middle;
    justify-content: space-between;
}
.header-top .header-top-information ul{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    max-width: 100%;
    list-style: none;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
}
.header-top .header-top-information ul li{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.header-top .header-top-information ul li a{
    margin: auto;
    color: black;
    max-width: 100%;
    max-height: 100%;
    text-decoration: none;
}
.header-top .header-top-information ul li ul{
    margin: 0;
    padding: 0;
    width: 100%;
    display: none;
    max-width: 100%;
    list-style: none;
    flex-direction: column;
    vertical-align: middle;
    justify-content: space-between;
}
.header-top .header-top-contacts{
    height: 100%;
    display: flex;
    max-height: 100%;
    vertical-align: middle;
    flex-direction: inherit;
}
.header-top .header-top-contacts .header-top-contacts-phone{
    margin: auto;
    width: 100%;
}
.container{
    height: 70px;
    max-height: 70px;
    border: solid black 1px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
}
.container .container-logo{
    width: 70px;
    height: 100%;
    display: flex;
    max-height: 100%;
    vertical-align: middle;
    justify-content: inherit;
}
.container .container-logo a{
    margin: auto;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    justify-content: inherit;
}
.container .container-logo a img{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.container .container-catalog{
    height: 100%;
    display: flex;
    max-height: 100%;
    vertical-align: middle;
    justify-content: inherit;
}
.container .container-catalog button{
    height: 80%;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    font-size: larger;
    font-family: Arial;
    border-radius: 10px;
}
.container .container-catalog button:hover{
    background-color: orange;
    color: white;
}
.container .container-search{
    width: 40%;
    height: 100%;
    display: flex;
    max-height: 100%;
    vertical-align: middle;
    justify-content: space-between;
}
.container .container-search .container-search-input{
    margin: auto;
    width: 90%;
    height: 100%;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
    vertical-align: middle;
    justify-content: inherit;
}
.container .container-search .container-search-input div{
    top: -7px;
    display: block;
    position: relative;
}
.container .container-search .container-search-input ul{
    margin: 0;
    padding: 0;
    width: 28.8%;
    position: fixed;
    list-style: none;
    border-top: none;
    border-radius: 10px;
    background-color: white;
    border: solid black 1px;
}
.container .container-search .container-search-input ul li:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container .container-search .container-search-input ul li:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.container .container-search .container-search-input ul li{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
    color: black;
    display: flex;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial;
    vertical-align: middle;
    flex-direction: inherit;
    background-color: transparent;
}
.container .container-search .container-search-input ul .active-search-result-item{
    overflow: hidden;
    background-color: gray;
}
.container .container-search .container-search-input ul li a{
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}
.container .container-search .container-search-input ul li a span{
    width: 95%;
    margin: auto;
}
.container .container-search .container-search-input input[type=search]{
    width: 100%;
    height: 80%;
    margin: auto;
    max-width: 100%;
    max-height: 80%;
    font-size: larger;
    font-family: Arial;
    border-radius: 10px;
}
.container .container-search .container-search-button{
    margin: auto;
    height: 100%;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    justify-content: inherit;
}
.container .container-search .container-search-button i{
    margin: auto;
}
.container .container-search .container-search-button i:hover{
    color: lime;
}
.container .container-actions{
    width: 25%;
    height: 100%;
    display: flex;
    max-width: 25%;
    max-height: 100%;
    vertical-align: middle;
    justify-content: space-between;
}
.container .container-actions .container-action{
    margin: auto;
    height: 100%;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    justify-content: inherit;
}
.container .container-actions .container-action a{
    color: black;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    text-decoration: none;
}
.container .container-login-or-menu-user{
    width: 15%;
    height: 100%;
    max-width: 15%;
    max-height: 100%;
}
.container .container-login-or-menu-user .container-login{
    height: 100%;
    display: grid;
    max-width: 100%;
    max-height: 100%;
    text-align: right;
    flex-direction: row;
    vertical-align: middle;
    justify-content: flex-end;
}
.container .container-login-or-menu-user .container-login button{
    height: 80%;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    font-size: larger;
    font-family: Arial;
    border-radius: 10px;
}
.container .container-login-or-menu-user .container-login button:hover{
    background-color: orange;
    color: white;
}