.menu-customer{
    z-index: 1;
    padding-left: 10%;
    visibility: hidden;
    position: fixed;
}
.menu-customer .menu-customer-classifications{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu-customer li{
    margin: 0;
    padding: 0;
}
.menu-customer ul li{
    width: 300px;
    height: 50px;
    color: white;
    display: flex;
    font-size: 18px;
    font-family: Arial;
    border-left-width: 0;
    border-right-width: 0;
    vertical-align: middle;
    border: 1px solid white;
    flex-direction: inherit;
    background-color: orange;
}
.menu-customer ul li span{
    width: 100%;
    margin: auto;
    padding: 0 5px;
}
.menu-customer ul li span a{
    color: white;
    text-decoration: none;
}
.menu-customer ul li > ul{
    display: none;
    position: absolute;
    right: -300px;
}
.menu-customer ul li:hover > span a{
    cursor: pointer;
    color: blue;
}
.menu-customer ul li:hover > ul{
    display: block;
}