.menu-admin{
    z-index: 1;
    padding-left: 10%;
    visibility: hidden;
    position: fixed;
}
.menu-admin ul,
.menu-admin ol{
    margin: 0;
    padding: 0;
    max-height: 500px;
    overflow: scroll;
    list-style: none;
}
.menu-admin ul li{
    margin: 0;
    padding: 0;
    width: 400px;
    height: 50px;
    color: white;
    display: flex;
    font-size: 18px;
    font-family: Arial;
    border-left-width: 0;
    border-right-width: 0;
    vertical-align: middle;
    border: 1px solid white;
    flex-direction: inherit;
    background-color: orange;
}
.menu-admin ul li span{
    width: 100%;
    margin: auto;
    padding: 0 5px;
}
.menu-admin ul li span a{
    color: white;
    text-decoration: none;
}
.menu-admin ul li > ul{
    display: none;
    position: absolute;
    right: -400px;
}
.menu-admin ul li:hover{
    cursor: pointer;
    color: blue;
}
.menu-admin ul li:hover > span a{
    cursor: pointer;
    color: blue;
}
.menu-admin ul li:hover > ul{
    display: block;
}