.container-menu-user {
    text-align: right;
    align-content: center;
    vertical-align: middle;
    justify-content: flex-end;
    flex-direction: row;
    display: block;
}
.container-menu-user ul,
.container-menu-user ol{
    margin: 0;
    padding: 0;
    width: 16%;
    display: none;
    position: fixed;
    list-style: none;
}
.container-menu-user ul li{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
    color: white;
    display: flex;
    font-size: 14px;
    font-family: Arial;
    border-left-width: 0;
    border-right-width: 0;
    vertical-align: middle;
    border: 1px solid white;
    flex-direction: inherit;
    background-color: orange;
}
.container-menu-user ul li span{
    width: 100%;
    margin: auto;
    padding: 0 5px;
}
.container-menu-user ul li:hover{
    cursor: pointer;
    color: lime;
}
.container-menu-user:hover > ul{
    display: block;
}
.container-menu-user > .container-welcome{
    display: inline-block;
}
.container-menu-user > .container-welcome span i{
    margin: 0 5px;
}
.container-menu-user > .container-welcome,
.container-menu-user > .container-avatar{
    text-align: right;
    vertical-align: middle;
}
.container-menu-user .container-avatar{
    width: 40px;
    height: 40px;
    margin: 15px 0;
    margin-left: 15px;
    max-width: 40px;
    max-height: 40px;
    border: solid black 1px;
    border-radius: 10px;
}