.categories{
    width: 100%;
    font-size: larger;
    font-family: Arial;
}
.table-categories{
    margin: 0 auto;
}
.table-categories th{
    text-align: center;
}
.table-categories td{
    text-align: left;
}
.table-categories .select{
    text-align: center;
}
.table-categories .table-categories-row-values{
    height: 50px;
    max-height: 50px;
}
.table-categories .table-categories-row-values .category-photo{
    text-align: center;
}
.table-categories .table-categories-row-values .category-photo img{
    height: 50px;
    width: 50px;
    max-height: 50px;
    max-width: 50px;
    vertical-align: middle;
}