.warehouses{
    width: 100%;
    font-size: larger;
    font-family: Arial;
}
.table-warehouses{
    margin: 0 auto;
}
.table-warehouses th{
    text-align: center;
}
.table-warehouses td{
    text-align: left;
}
.table-warehouses .select{
    text-align: center;
}
.table-warehouses .table-warehouses-row-values{
    height: 50px;
    max-height: 50px;
}