.subcategories{
    width: 100%;
    font-size: larger;
    font-family: Arial;
}
.table-subcategories{
    margin: 0 auto;
}
.table-subcategories th{
    text-align: center;
}
.table-subcategories td{
    text-align: left;
}
.table-subcategories .select{
    text-align: center;
}
.table-subcategories .table-subcategories-row-values{
    height: 50px;
    max-height: 50px;
}
.table-subcategories .table-subcategories-row-values .subcategory-photo{
    text-align: center;
}
.table-subcategories .table-subcategories-row-values .subcategory-photo img{
    height: 50px;
    width: 50px;
    max-height: 50px;
    max-width: 50px;
    vertical-align: middle;
}