.streets{
    width: 100%;
    font-size: larger;
    font-family: Arial;
}
.table-streets{
    margin: 0 auto;
}
.table-streets-cities th{
    text-align: center;
}
.table-streets td{
    text-align: left;
}
.table-streets .select{
    text-align: center;
}
.table-streets .table-streets-row-values{
    height: 50px;
    max-height: 50px;
}