.regions{
    width: 100%;
    font-size: larger;
    font-family: Arial;
}
.table-regions{
    margin: 0 auto;
}
.table-regions th{
    text-align: center;
}
.table-regions td{
    text-align: left;
}
.table-regions .select{
    text-align: center;
}
.table-regions .table-regions-row-values{
    height: 50px;
    max-height: 50px;
}