.characteristics{
    width: 100%;
    font-size: larger;
    font-family: Arial;
}
.table-characteristics{
    margin: 0 auto;
}
.table-characteristics th{
    text-align: center;
}
.table-characteristics td{
    text-align: left;
}
.table-characteristics .select{
    text-align: center;
}
.table-characteristics .table-characteristics-row-values{
    height: 50px;
    max-height: 50px;
}