.categories-subcategory{
    width: 100%;
    font-size: larger;
    font-family: Arial;
}
.table-categories-subcategory{
    margin: 0 auto;
}
.table-categories-subcategory th{
    text-align: center;
}
.table-categories-subcategory td{
    text-align: left;
}
.table-categories-subcategory .select{
    text-align: center;
}
.table-categories-subcategory .table-categories-subcategory-row-values{
    height: 50px;
    max-height: 50px;
}
.table-categories-subcategory .table-categories-subcategory-row-values .category-subcategory-photo{
    text-align: center;
}
.table-categories-subcategory .table-categories-subcategory-row-values .category-subcategory-photo img{
    height: 50px;
    width: 50px;
    max-height: 50px;
    max-width: 50px;
    vertical-align: middle;
}