.houses{
    width: 100%;
    font-size: larger;
    font-family: Arial;
}
.table-houses{
    margin: 0 auto;
}
.table-houses th{
    text-align: center;
}
.table-houses td{
    text-align: left;
}
.table-houses .select{
    text-align: center;
}
.table-houses .table-houses-row-values{
    height: 50px;
    max-height: 50px;
}