.units{
    width: 100%;
    font-size: larger;
    font-family: Arial;
}
.table-units{
    margin: 0 auto;
}
.table-units th{
    text-align: center;
}
.table-units td{
    text-align: left;
}
.table-units .select{
    text-align: center;
}
.table-units .table-units-row-values{
    height: 50px;
    max-height: 50px;
}