.manufacturers{
    width: 100%;
    font-size: larger;
    font-family: Arial;
}
.table-manufacturers{
    margin: 0 auto;
}
.table-manufacturers th{
    text-align: center;
}
.table-manufacturers td{
    text-align: left;
}
.table-manufacturers .select{
    text-align: center;
}
.table-manufacturers .table-manufacturers-row-values{
    height: 50px;
    max-height: 50px;
}
.table-manufacturers .table-manufacturers-row-values .manufacturer-photo{
    text-align: center;
}
.table-manufacturers .table-manufacturers-row-values .manufacturer-photo img{
    height: 50px;
    width: 100px;
    max-height: 50px;
    max-width: 100px;
    vertical-align: middle;
}