.cities{
    width: 100%;
    font-size: larger;
    font-family: Arial;
}
.table-cities{
    margin: 0 auto;
}
.table-cities th{
    text-align: center;
}
.table-cities td{
    text-align: left;
}
.table-cities .select{
    text-align: center;
}
.table-cities .table-cities-row-values{
    height: 50px;
    max-height: 50px;
}