.toolbar{
    width: 100%;
    height: 50px;
    max-width: 100%;
    max-height: 50px;
    font-size: medium;
    font-family: Arial;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.toolbar .toolbar-actions{
    width: 45%;
    height: 100%;
    max-width: 45%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.toolbar .toolbar-actions .toolbar-action-button{
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: inherit;
    vertical-align: middle;
}
.toolbar .toolbar-actions .toolbar-action-button input[type=submit]{
    width: 100%;
    margin: auto;
    font-size: larger;
    border-radius: 10px;
}
.toolbar .toolbar-actions .toolbar-action-button #action-button-add:hover{
    color: white;
    background-color: lime;
}
.toolbar .toolbar-actions .toolbar-action-button #action-button-edit:hover{
    color: white;
    background-color: yellow;
}
.toolbar .toolbar-actions .toolbar-action-button #action-button-remove:hover{
    color: white;
    background-color: red;
}
.toolbar .toolbar-search{
    width: 50%;
    height: 100%;
    max-width: 50%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.toolbar .toolbar-search .toolbar-input-search{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: inherit;
    vertical-align: middle;
}
.toolbar .toolbar-search .toolbar-input-search input[type=search]{
    width: 100%;
    margin: auto;
    font-size: larger;
    border-radius: 10px;
}

